.body
{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(208, 208, 208);   
}

.main_container
{
    align-items: center;
    flex-direction: row;
    border: 2px solid green;

    height: 200px;
    width: 200px;


}